<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>Hello, {{ .Name }}!</h1>
<h1>你的密码是: {{ .Password }}!</h1>
<h1>xxx: {{ .xxx }}!</h1>
</body>
</html>