{{define "users/index.tmpl"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>users/Hello</title>
    <link rel="stylesheet" href="/xxx/index.css">
</head>
<body>
users: {{ .title | safe}}
<script src="/xxx/index.js"></script>
</body>
</html>
{{end}}